<%- include('partials/navbar') %>
</nav>

<div class="blog-div" style="text-align:center ; background-color: antiquewhite; padding: 0 50px;">
    <h1 style="color: gray;"><%= project.title %></h1>
    <div style="padding: 20px 80px;">
        <%- project.description %>
    </div>
    <small><%= project.date.toLocaleDateString(undefined, options) %></small>
    <ul style="text-decoration:none ;">
        <li style="display: inline-block;">
            <a style="color: red" href="/projects/<%= project._id %>/delete">Delete</a>
        </li>
        <li style="display: inline-block;">|</li>
        <li style="display: inline-block;">
            <a style="color: red" href="/projects/<%= project._id %>/edit">update</a>
        </li>
    </ul>
</div>


<%- include('partials/footer') %>