<%- include('partials/navbar') %>
</nav>
<div class="space-up">
    
</div>
<div class="blog-div grid-container-blog">
    <div class="grid-null-blog">
        <div class="author">
            <h3>Created by: <strong><%= project.author.firstName %> <%= project.author.lastName %> </strong></h3>
        </div>
    </div>
    <div class="grid-date-blog">
    <small class="date">Created: <%= project.date.toLocaleDateString(undefined, options) %></small>
    </div>
    <div class="grid-last-updated-blog">
    <small class="date">last update: <%= project.updateDate.toLocaleDateString(undefined, options) %></small>
    </div>
    <div class="grid-null2-blog"></div>
    <div class="grid-title-blog">
        <h1 class="title"><%= project.title %></h1>
    </div>
    <div class="grid-description-blog">
        <div class="description">
            <%- project.description %>
        </div>
        <div class="tags-blog">
            <% project.tags.forEach( tag => { %>
                <div class="tag" style="background-color: <%= tag.colorValue %>">
                    <small><%= tag.name %></small>
                </div>
            <%  })  %>
        </div>
    </div>
    <div class="grid-details-blog">
        <ul style="text-decoration:none ;">
            <li style="display: inline-block;">
                <a style="color: red" href="/projects/<%= project._id %>/delete">Delete</a>
            </li>
            <li style="display: inline-block;">|</li>
            <li style="display: inline-block;">
                <a style="color: red" href="/projects/<%= project._id %>/edit">update</a>
            </li>
        </ul>
    </div>
    
</div>
<div class="blog-div-2">
    <%- project.blog %>
</div>
<div class="space-bottom">
    
</div>


<%- include('partials/footer') %>