<%- include('partials/navbar') %>
</nav>

<h1>All My Projects</h1>


<div class="project-grid-container">
    
    <% projects.forEach(project => { %>
        <div class="grid-container">
        <div class="grid-title">
            <h1><%= project.title %></h1>
        </div>
            <div class="grid-tags">
            <% project.tags.forEach( tag => { %>
                <div class="tag" style="background-color: <%= tag.colorValue %>">
                    <p><%= tag.name %></p>
                </div>
            <%  })  %>
            </div>
            <div class="grid-dates">
                <small><%= project.date.toLocaleDateString(undefined, options) %></small>
            </div>
            <div class="grid-description">
            <p><%- project.description %></p>
            <a href="/projects/<%= project._id %>">view</a>
            </div>

    </div>
    
    <% }) %>

</div>

<script src="/javascripts/randomcolor.js"></script>
<%- include('partials/footer') %>