<%- include('partials/navbar') %>
</nav>

<h1>All My Projects</h1>


<div>
    <div style="text-align: center;">
    <% projects.forEach(project => { %>
        <h1 style="color: red; font-size: 2.5rem;">
            <%= project.title %></h1>
            <% project.tags.forEach( tag => { %> 
                <h3 style="background-color: yellow; display: inline-block; border-radius: 45px; border: 1px solid #1e5fdf;"><%= tag.name %></h3>
            <%  })  %>
        <p><%= project.description %></p>
        <small><%= project.date.toLocaleDateString(undefined, options) %></small>

        <a href="/projects/<%= project._id %>">view</a>
    
    <% }) %>
</div>
</div>


<%- include('partials/footer') %>